* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navigation bar styling*/

#header {
    display: flex;
    position: fixed;
    background-color: #fcfcfc;
    top: 0;
    width: 100%;
    min-height: 70px;
    padding: 0px 20px;
    justify-content: start;
    align-items: center;
    z-index: 103;
}

#header-img{
  max-width: 60px;
  width: 100%;
  height: 100%;
}

.image {
  width: 7vw;
  margin-right: 60px;
}

#nav-bar {
  display: flex;
}

#nav-bar ul {
  list-style-type: none;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.nav-link {
  text-decoration: none;
  color:#5a5070;
  font-size: 1.4em;
  padding-right: 100px;
}

#nav-bar input[type=text] {
  width: 40vw;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
}

input {
  color: #5a5070;
  border: 1px solid #5a5070;
  opacity: 0.8;
}

#nav-icons {
  display: flex;
  width: 30vw;
  justify-content: flex-end;
}

.icons {
  color: #5a5070;
  padding: 0px 20px;
  font-size: 1.6em;
  border-left: 1px solid #5a5070;
  border-right: 1px solid #5a5070;    
}

/* End of navigation bar styling*/

/*Start of main content styling*/

main {
  margin-top: 120px;
  margin-bottom: 150px;
}

/* ContactUs page Styling*/

#title, #subtitle{
  text-align: center;
  color: #341e54;
}

#subtitle{
  margin-bottom: 50px;
}

#contactUs_container {
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  background-color: #fcfcfc;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  border-radius: 5px;
}

#contactUs_container > input {
  display: block;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  color: #5a5070; 
}

#contactUs_container > textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcfcfc;
  border: 1px solid;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  color: #5a5070; 
}

#contactUs_button {
  background-color: #5a5070;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2em;
}
/*End of ContactUs page Styling*/

/* LogIn/Register page Styling */

#main_logInAndRegister {
  display:flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
  justify-content: space-evenly;
}

.containerlandr {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 20px;
  border-radius: 5px;
}

.containerlandr input {
  padding:7px;
  border-radius: 5px;
  margin: 0px 10px 10px 10px; 
}

.containerlandr button {
  margin: 10px;
  padding:7px;
  border-radius: 5px;
}

.logIn_div button {
  margin-top: 95px;
  color: #ffffff;
  background-color: #5a5070;
}

.register_div button {
  color: #5a5070;
}

.logIn_div {
  background-color: #f0f0f0;
  color: #5a5070;
}

.register_div {
  background-color: #5a5070;
  color: #ffffff;
}

div >h2, p {
  padding-bottom: 40px;
  margin: 0px 10px 10px 10px; 
}


/* End of LogIn/Register page Styling */

/*End of main styling*/


/*Footer styling*/

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fcfcfc;
    padding: 10px;
    max-height: 80px;
  }
  
  #nav-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
  
  #nav-footer > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
  }
  
  #nav-footer ul li {
    text-decoration: none;
    color: #5a5070;
  }

  .footer-link {
    font-size: 1.2em;
  }

  #footer >p {
    color: #5a5070;
    text-align: center;
  }

  /*End of footer styling*/

@media screen and (max-width: 1350px) {
    .nav-link {
        padding-right: 70px;
    }

    #nav-bar input[type=text] {
        width: 30vw;
    }

    .nav-link {
        padding-right: 50px;
        font-size: 1.4em;
    }
  }


@media screen and (max-width: 1200px) {
    .nav-link {
        padding-right: 40px;
    }

    #nav-bar input[type=text] {
        width: 30vw;
    }

    .nav-link {
        padding-right: 50px;
        font-size: 1.4em;
    }
  }

  @media screen and (max-width: 930px) {

    .nav-link {
        padding-right: 30px;
        font-size: 1.3em;
    }

    #nav-bar input[type=text] {
        width: 25vw;
    }

    #title {
      font-size: 1.2em;
    } 

    #subtitle{
      font-size: 1em;
    }
  }

  @media screen and (max-width: 780px) {
    .nav-link {
        padding-right: 35px;
        font-size: 1.1em;
    }

    .icons {
        font-size: 1.3em;
    }

    #nav-bar input[type=text] {
        width: 30vw;
    }
  }

  @media screen and (max-width: 700px) {

    .image {
        margin-right: 25px;
    }

    .nav-link {
        padding-right: 20px;
        font-size: 1.1em;
    }
  }